* {
    box-sizing: border-box;
    background-color: lightskyblue;
}

:root {
    --border-radius: 10px;
}

button {
    cursor: pointer;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    justify-content: center;
    align-content: start;
}

.heading {
    text-align: center;
    grid-column: 2;
}

.attack-message {
    margin: 0;
}


.shipBtns {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boards {
    display: flex;
    gap: 1em;
    grid-row: 2;
    align-items: center;
    justify-content: center
}

.player-name, .computer-name {
    text-align: center;
}
.player-board, .computer-board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    height: 450px;
    width: 450px;
    justify-self: center;
    grid-row: 2;
}

/* border-radius */
.player-cell:nth-child(1), .computer-cell:nth-child(1) {
    border-radius: var(--border-radius) 0 0 0;
}

.player-cell:nth-child(10), .computer-cell:nth-child(10) {
    border-radius: 0 var(--border-radius) 0 0;
}

.player-cell:nth-child(91), .computer-cell:nth-child(91) {
    border-radius: 0 0 0 var(--border-radius);
}

.player-cell:nth-child(100), .computer-cell:nth-child(100) {
    border-radius: 0 0  var(--border-radius) 0;
}

.player-cell, .computer-cell {
    font-weight: bold;
}





.player-cell:hover, .computer-cell:hover {
    background-color: rgba(150, 150, 150, 0.774);
}


.player-cell:active, .computer-cell:active {
    background-color: rgb(151, 148, 148);
}

.ship-infos {
    grid-row: 2;
    
}

.shipBtns {
    gap: 2%;
}

.game-start {
    background-color: white;
}

.shipBtns button {
    background-color: red;
    color: white;
    border-radius: var(--border-radius);
    font-size: medium;
    /*border-left: 5px solid black;*/
    border-bottom: 4px solid black;
    font-weight: bold;
}

.shipBtns button:hover {
    border-bottom: 2px solid black;
    background-color: rgb(223, 1, 1);
    color: rgb(235, 234, 234);
    /*background-color: rgb(105, 0, 0);*/
}

.shipBtns button:active {
    background-color: rgb(170, 0, 0);
}

.ship-infosC {
    grid-column: 3;
    grid-row: 2;
}